.cardImg {
  width: 50vw;
  height: 20vw;
  display: inline;
  opacity: 0.05;
  cursor: pointer;
  /* transition: .2s ease-in-out; */
}



.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  text-shadow: 0 0 5px black
}

.cardDiv:hover .overlay {
  opacity: 1;
  z-index: 5;
}

/* .cardDiv:hover .cardImg {
  opacity: .3;
} */

.playlistTitle {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.cardImg:hover .playlistTitle {
  visibility: visible;
}

.cardDiv {
  position: relative;
  text-align: center;
  margin-right: 10px;
  cursor: pointer;
  transition: .2s ease-in-out;
}
 
.playlistLink {
  height: 400px;
}

.c {
  position: absolute;
  /* max-width: 500px;
  max-height: 500px;
  width: 50ch;
  height: 50ch; */
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

/* .front:hover {
  opactiy: 1;
  transition: .2s ease-in-out;
}

.cardImg:hover {
  opacity: 0.5;
} */