#root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
    background: rgb(15, 15, 15);
}

.c {
    position: absolute;
    max-width: 500px;
    max-height: 500px;
    width: 50ch;
    height: 50ch;
    cursor: pointer;
    will-change: transform, opacity;
}

.front,
.back {
    background-size: cover;
}

.front {
    background-image: url(https://i.ytimg.com/vi/ypQZV03l80g/maxresdefault.jpg);
}

.back {
    background-image: url(https://i.imgur.com/FY2Cfwe.png);
}
