/* Toggle sidebar functionality */
.hide {
  display: none;
}

.show {
  display: inline;
}

/* ///////////////////////////// */

.playContainerDiv {
  display: flex;
}

/* Playlist header */
.playlistHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 50px;
  margin: 0;
  color: rgb(61, 144, 247);
}

/* ///////////////////////////// */


/* Song List */

.songList {
  border: 2px blue solid;
}

/* ////////////////////////// */


/* Footer */

.ant-layout-footer {
  border: red 1px solid;
  padding: 0;
}
/* ////////////////////////////// */