/* Toggle sidebar functionality and sidebar style*/
#sider {
  background-color: rgb(15, 15, 15);
  width: 300px;
  max-width: 300px;
  min-width: 300px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.toggleBtn{
  background: none;
  border: none;
}


.sidebarDiv {
  display: flex;
  flex-direction: column;
}
.sidebarDiv h1, .sidebarDiv p {
  color: rgb(61, 144, 247);
}

.sidebarDiv h1 {
  font-size: 31px;
  margin: 26px 0 26px 0;

}

/* ///////////////////////////// */

.playContainerDiv {
  display: flex;
}

/* Playlist header */
.playlistHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

img {
  width: 100px;
  height: 100px;
}

header h1 {
  font-size: 50px;
  margin: 0;
  color: rgb(61, 144, 247);
}

/* ///////////////////////////// */


/* Song List */

.songList p {
  color: rgb(61, 144, 247);
  position: absolute;
}

/* ////////////////////////// */




/* Footer */

.ant-layout-footer {
  border: red 1px solid;
  padding: 0;
}
/* ////////////////////////////// */