/* Toggle sidebar functionality and sidebar style*/
.ant-layout-has-sider {
  margin-top: -165px;
}

#sider {
  background-color: rgb(15, 15, 15);
  width: 300px;
  max-width: 300px;
  min-width: 300px;
  margin-top: 165px;
  border: rgb(61, 144, 247) 1px solid;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.toggleBtn{
  background: none;
  border: none;
}


.sidebarDiv {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.sidebarDiv h1, .sidebarDiv p {
  color: rgb(61, 144, 247);
}

.sidebarDiv h1 {
  font-size: 31px;
  margin: 26px 0 26px 0;

}

/* ///////////////////////////// */

.playContainerDiv {
  display: flex;
  margin-left: 2vw;
}

/* Playlist header */
.playlistHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.input {
  color: rgb(61, 144, 247);
}
img {
  width: 100px;
  height: 100px;
}

header h1{
  font-size: 50px;
  margin: 0;
  color: rgb(61, 144, 247);
}

header p {
  color: rgb(61, 144, 247);
}
/* ///////////////////////////// */


/* Song List */

.songList {
  padding-left: 10vw;
  margin-top: 10px;

}

.songList p {
  color: rgb(61, 144, 247);
  margin-left: 2vw;
}

.track {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.track img {
  max-width: 25px;
  max-height: 25px;
}

/* ////////////////////////////// */