.songList {
  position: relative;
  padding: 0;
  margin-top: 20px;
  width: 74vw;
}


.ant-table-thead > tr > th {
  background: rgb(15, 15, 15); 
  color: white;
}

.ant-table {
  background-color: rgb(15, 15, 15);
  color: rgb(61, 144, 247);
  border-top: 1px white solid;
}

.ant-table-content table .thead.ant-table-thead {
  background-color: black;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
  padding: 0 0 0 10px;
}
.ant-table-row {
  height: 40px;
}
.ant-table-cell {
  padding: 0;
}
.ant-table-cell img {
  height: 40px;
  width: 40px;
}

.ant-table-thead th.ant-table-column-sort, td.ant-table-column-sort {
  background-color: rgb(15, 15, 15);
}



