.ant-layout-header {
  background-color: white;
  height: 165px;
  padding: 0;
}



/* NAVBAR */

.navbarRow {

  height: 35px;
}

.dropdownCol, .authCol {
  height: 35px
}

.authDiv {
  display: flex;
  height: 35px;
  align-items: center;
}

.authDiv a {
  margin: 0px 10px 0px 10px;
}

.dropdownDiv {
  display: flex;
  height: 35px;
  align-items: center;
  margin-right: 50px;
}

/* //////////////////////////////////// */


/* BRAND */

.titleCol {
  border: 1px solid black;
}

/* /////////////////////////////////////// */




/* HEADER ART */

.headerArtRow {
  border: 1px solid black;
  height: 130px;
}

/* /////////////////////////////////////// */










.hide {
  display: none;
}

.show {
  display: inline;
}