.ant-layout-header {
  height: 130px;
  width: 100vw;
  padding: 0;
  position: fixed;
  z-index: 2;
}



/* NAVBAR */

.navbarRow {
  background-color: rgb(15, 15, 15);
  height: 35px;
  padding: 10px 5vw 0 0;
}

.dropdownCol, .authCol {
  height: 35px
}

.authDiv {
  display: flex;
  height: 35px;
  align-items: center;
}

.authDiv a {
  margin: 0px 10px 0px 10px;
}

.dropdownDiv {
  display: flex;
  height: 35px;
  align-items: center;
  margin-right: 50px;
}

/* //////////////////////////////////// */


/* BRAND */

.brandCol{
  background-color: rgb(15, 15, 15);
}
 header .brandDiv{
  display: flex;
  justify-content: center;
  height: 100%;
}


.brandDiv .brandLink, .brandDiv h1{
  color: rgb(61, 144, 247);
  align-self: center;
  font-size: 45px;
}
.brandDiv {
  scale: 1;
}


/* /////////////////////////////////////// */




/* HEADER ART */

header .headerArtRow {
  height: 95px;
  background-color: rgb(15, 15, 15);
}

header .headerArt {
  height: 95px;
  width: 75vw;
}

header .artDiv {
  height: 95px;
}
/* /////////////////////////////////////// */


