body {
  background-color: rgb(15, 15, 15);
  font-family: 'Poppins', sans-serif;
}


.ant-layout-content {
    background-color: rgb(15, 15, 15);
    padding-top: 165px;
    padding-bottom: 100px;
}


.profile {
    color: white;
}

.modal {
  color: white;
  background-color: rgb(15, 15, 15);
  padding: 40px;
  border: 2px solid rgb(61, 144, 247);
  border-radius: 10px;
}